:root {
  --color1: #1c1c1c;
  --color2: #f5f5f5;
  --active: #bb86fc;
  --primary: #b4b4b4;
}

[data-theme="dark"] {
  --color1: #f5f5f5;
  --color2: #1c1c1c;
  --active: #bb86fc;
  --primary: #b4b4b4;
}
* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.mainCont {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--active);
}
.navbar{
  height: 60px;
  width: 100%;
  background-color: #1c1c1c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.logo{
  color: #f5f5f5;
  font-size: 28px;
}
.secondPart{
  display: flex;
  align-items: center;
  gap: 30px;
}
.logoutCont{
  color: #f5f5f5;
  font-size: 23px;
  font-weight: 700;
  cursor: pointer;
}
.logoutCont::after{
  content: "Logout";
  color: #f5f5f5;
  font-size: 23px;
  font-weight: 700;
  cursor: pointer;
}
.subCont{
  width: 100%;
  flex-grow: 1;
  padding: 0 20px;
}
.LoaderCont {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color:var(--color2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  border: 6px solid var(--primary);
  border-top: 6px solid var(--active);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.themeSwitch {
  width: 55px;
  height: 28px;
  border-radius: 20px;
  background-color: var(--active);
  position: relative;
  display: flex;
  align-items: center;
}
.innerSwitch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 9%;
  background-color: var(--color2);
  transition: 0.1s all linear;
}
.activeThemeBtn .innerSwitch {
  left: 55%;
}
.loginFormContainer,
.signupFormContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  background-color: var(--color2);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.loginForm,
.signupForm {
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loginFormTitle,
.signupFormTitle {
  font-size: 20px;
  font-weight: 100;
  color: var(--color1);
  padding-bottom: 2px;
  width: max-content;
  margin: 30px 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.loginFormTitle::after,
.signupFormTitle::after {
  content: "";
  border-bottom: 2px solid var(--color1);
  width: 100px;
  position: absolute;
  bottom: -8px;
}
.loginFormGroup,
.signupFormGroup {
  margin-bottom: 15px;
  display: flex;
  border-bottom: 1px solid var(--primary);
  gap: 10%;
  padding: 7px;
  margin-top: 20px;
}
.loginFormGroup i,
.signupFormGroup i {
  font-size: 24px;
  color: var(--primary);
}
.loginFormInput,
.signupFormInput {
  width: 80%;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  color: var(--color1);
  box-sizing: border-box;
}
.loginFormInput::placeholder,
.signupFormInput::placeholder {
  color: var(--primary);
  font-size: 15px;
}
.loginFormButton,
.signupFormButton {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--active);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 25px;
}
.loginFormButton:hover,
.signupFormButton:hover {
  opacity: 0.8;
}
.redirectText {
  color: var(--primary);
  font-size: 15px;
  margin: 25px 0;
}
.redirect {
  color: var(--color1);
  text-decoration: none;
  cursor: pointer;
}


.todoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.todoListCard {
  background-color: var(--color2);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100% ;
  min-width: 280px;
  min-height: 250px;
  position: relative;
}
.todoLoaderCont{
  width: 100%;
  height: calc(100% - 130px);
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--color2);
  border-radius: 16px;
  top: 130px;
  left:  0;
}
.todoLoader {
  border: 6px solid var(--primary);
  border-top: 6px solid var(--active);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: todospin 1s linear infinite;
}
@keyframes todospin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.title {
  font-size: 28px;
  font-weight: 700;
  color: var(--color1);
  margin-bottom: 20px;
}

.emoji {
  font-size: 24px;
}

.inputWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  position: relative;
}

.taskInput {
  width: 100%;
  padding: 10px 15px;
  padding-right: 90px;

  border: 1px solid var(--primary);
  border-radius: 50px;
  outline: none;
  font-size: 14px;
  background-color: #f0f0f0;
}

.addButton {
  background-color: var(--active);
  color: var(--color1);
  border: none;
  border-radius: 50px;
  font-size: 16px;
  padding: 9px 25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  right: 0;
  outline: none;
}

.addButton:hover {
  opacity: 0.9;
}

.taskList {
  list-style: none;
  padding-left: 0;
}

.taskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--primary);
}

.taskItem:last-child {
  border-bottom: none;
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

label {
  flex-grow: 1;
  font-size: 16px;
  color:var(--color1);
}

.completedTask {
  text-decoration: line-through;
  color: var(--primary);
}

.deleteButton {
  font-size: 18px;
  color: var(--active);
  cursor: pointer;
}





@media (max-width:500px) {
  .secondPart{
    gap: 10px;
  }
  .logoutCont::after{
    content: "";
  }
}